<div class="d-flex justify-content-center" *ngIf="isLoading">
  <div class="pt-3">
    <app-loading></app-loading>
  </div>
</div>

<div class="row pt-2" *ngIf="!isLoading && eventMode" [ngStyle]="{'background-color':'lightskyblue'}">
  <div class="row">
    <div class="col-sm-4">New Event ?</div>
    <div class="col-sm-8"><input type="text" [(ngModel)]="newEvent" placeholder="Provide name" #inp>&nbsp;</div>
  </div>
  <br>
  <div class="d-flex justify-content-center py-2">
    <button class="btn btn-default p-1" (click)="onButtonClick()" [disabled]="!inp.value">Add</button>
  </div>
  <br>
</div>

<div class="row p-2" [ngClass]="classPicker()" *ngIf="!isLoading">
  <div class="col-sm-12">
    <h3 *ngIf="adhocExpendituremode">Fill adhoc Expenditure details</h3>
    <h3 *ngIf="adhocIncomemode">Fill adhoc Income details</h3>
    <h3 *ngIf="eventMode">Fill details for Event</h3>
    <hr>
    <form class="form-horizontal" #f="ngForm" (ngSubmit)="onIEformSubmit(f)">
      <div class="form-group" *ngIf="eventMode">
        <div class="row">
          <label for="" class="control-label col-sm-4">Event Name</label>
          <mat-form-field class="col-sm-6">
            <mat-label>Provide Event</mat-label>
            <select matNativeControl name="event" ngModel required #event="ngModel">
              <option *ngFor="let evnt of eventArray" [value]="evnt">
                {{evnt}}
              </option>
            </select>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label for="" class="control-label col-sm-4" *ngIf="adhocExpendituremode">Donor</label>
          <label for="" class="control-label col-sm-4" *ngIf="adhocIncomemode || eventMode">Collector</label>
          <mat-form-field class="col-sm-6">
            <mat-label>Choose Name</mat-label>
            <select matNativeControl ngModel required autocomplete="off" name="member" #member="ngModel">
              <option [value]="member" *ngFor="let member of staticCollectors">{{member}}</option>
            </select>
          </mat-form-field>
        </div>
      </div>
      <div class="row form-group">
        <label for="date" class="control-label col-sm-4">Date</label>
        <div class="col-sm-6">
          <input ngModel required 
          bsDatepicker 
          [minDate]="minDate"
          [maxDate]="maxDate"
          [bsConfig]="{ isAnimated: true, dateInputFormat:'DD/MM/YYYY', showWeekNumbers:false}"
          autocomplete="off" name="date" #date="ngModel" type="text"
            class="form-control">
          <span *ngIf="date.touched && !date.valid" class="help-block">Date required</span>
        </div>
      </div>
      <br>
      <div class="form-group">
        <div class="row">
          <label for="" class="control-label col-sm-4">Amount</label>
          <mat-form-field class="col-sm-6">
            <input matInput placeholder="Enter Amount" autocomplete="off" ngModel required name="amount"
              #amount="ngModel" type="text" pattern="^[1-9]+[0-9]*$">
          </mat-form-field>
        </div>

      </div>

      <div class="form-group">
        <div class="row">
          <label for="" class="control-label col-sm-4">Remarks</label>
          <mat-form-field class="col-sm-6">
            <input ngModel matInput required [placeholder]="remarksLabel" autocomplete="off" name="remarks"
              #remarks="ngModel" type="text">
          </mat-form-field>
        </div>
      </div>
      <div class="d-flex justify-content-center p-2 form-group">
        <div><button class="btn btn-default p-1" [disabled]="!f.valid">Submit</button></div>
      </div>
    </form>
  </div>
</div>